absl-py
aiohttp
aiosignal
annotated-types
appdirs
asttokens
async-timeout
attrs
backcall
beautifulsoup4
black
blinker
bs4
cachetools
certifi
cfgv
charset-normalizer
clarabel
click
comm
contourpy
coverage
cvxpy
cycler
Cython
dash
dash-core-components
dash-html-components
dash-table
dcn
debugpy
decorator
distlib
docker-pycreds
exceptiongroup
execnet
executing
filelock
flake8
Flask
fonttools
fsspec
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
identify
idna
importlib-metadata
iniconfig
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
lightning-utilities
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
multidict
mypy-extensions
narwhals
nest-asyncio
nodeenv
numba
numpy
oauthlib
opencv-python
osqp
packaging
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
plotly
pluggy
pre-commit
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycodestyle
pycryptodome
pydantic
pydantic_core
pyflakes
Pygments
pyparsing
pytest
pytest-cov
pytest-xdist
python-dateutil
pytorch-lightning
pytz
PyYAML
pyzmq
qdldl
requests
requests-oauthlib
retrying
rsa
scikit-learn
scipy
scs
seaborn
sentry-sdk
setproctitle
six
smmap
soupsieve
stack-data
tensorboard
tensorboard-data-server
threadpoolctl
titlecase
tokenize-rt
tomli
torch
torch-summary
torchmetrics
torchvision
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
virtualenv
wandb
wcwidth
Werkzeug
yarl
zipp